    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Peter's wines</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <%= link_to 'Wines', wines_path, class: 'nav-link'%>
            </li>
            <li class="nav-item active">
              <%= link_to 'Enologists', enologists_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'New Wine', new_wine_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'New Strain', new_strain_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'New Enologist', new_enologist_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'New Magazine', new_magazine_path, class: 'nav-link'%>
            </li>
            <li class="nav-item">
              <%= link_to 'New Score', new_score_path, class: 'nav-link'%>
            </li>

          </ul>
        </div>
    </nav>