<div class="col-4 offset-4">

  <%= form_with(model: wine, local: true) do |form| %>
    <% if wine.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

        <ul>
        <% wine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name, class: "control-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :price, class: "control-label" %>
      <%= form.text_field :price, class: "form-control" %>
    </div>

    <%# Agregar cepas %>
    <div class="form-group">
      <%= form.fields_for :assemblies do |assembly_form|%>
        <%= assembly_form.label assembly_form.object.strain_name, class: "control-label" %>
        <%# A침adir campo oculto para pasar id de strain %>
        <%= assembly_form.hidden_field :strain_id %>
        <%= assembly_form.number_field :percentage, class: "form-control" %>
        <%# Falta a침adir validaci칩n de suma de porcentaje = 100 %>
      <%end%>
    </div>

    <%# Agregar scores %>

    <table class="table">
      <thead>
        <th scope="col">Enologist</th>
        <th scope="col" class="text-center">Score</th>
      </thead>
      <tbody>
        <%= form.fields_for :scores do |score_form|%>
        <tr>
          <td><%= score_form.label score_form&.object&.enologist_name, class: "control-label" %><td>
          <%# A침adir campo oculto para pasar id de enologist %>
          <%= score_form.hidden_field :enologist_id %>
          <td><%= score_form.number_field :score, class: "form-control text-center" %></td>
          
          </tr>
        <%end%>
      </tbody>
    </table>

    <div class="actions">
      <%= form.submit "Save", class: 'btn btn-success' %>
    </div>
  <% end %>

</div>